.home{
    color: blueviolet;
    position: relative;
    text-align: center;
}

.links{
    position: relative;
    color: blueviolet;
    font-size: 24px;
    text-align: right;
    text-decoration: none;
    text-align: right;
    display: table;
    justify-content: right;
    align-items: right;
    margin: auto;
}

.homeimage{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    width: 20%;
}

.imageview{
    justify-content: center;
    align-items: center;
}

.aboutbody{
    position: absolute;
    margin-top: 400px;
    margin-left: 100px;
    text-align: left;
    font-size: 18px;
    max-width: 400px;
}

.skills{
    position: absolute;
    top: 200px;
    left: 600px;
}